---
import Layout from '../../layouts/Layout.astro';
import PageHeader from '../../components/PageHeader.astro';
import Partners from '../../components/Partners.astro';
import Contact from '../../components/Contact.astro';
import Footer from '../../components/Footer.astro';

export async function getStaticPaths() {
  const data = await fetch('https://kdeksxgxvcivtikjqluf.supabase.co/rest/v1/artists',{
        method: "GET",
        headers: {
            apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtkZWtzeGd4dmNpdnRpa2pxbHVmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDIyMDYzMTMsImV4cCI6MjAxNzc4MjMxM30.4YJVI0UCYSbR6QfEZ0S3S2gsvG1Ef8yViIHcyovLqgY"	
        }
}).then((response) => response.json());

return data.map((artist) => {
    return {
      params: { slug: artist.slug },
      props: { post: artist },
    };
  });
}
const {post} = Astro.props;

console.log(post);
---

<Layout title="Progg'N'Roll Records!">
	<PageHeader></PageHeader>

    <div class="artist">
        <div class="left">
            <img src={"../../img/artists/" + post['img']} alt="artist picture"/>
        </div>
        <div class="right">
            <h2>{post['name']}</h2>
            <p>{post['dj_name']}</p>
            <Fragment set:html={post['bio']}/>
            <p class="links">
                {post['link_fb'] != null && <a class="link_btn" href={post['link_fb']}><i class="fa-brands fa-facebook"></i> Facebook</a>}
                <a class="link_btn" href={post['link_sc']}><i class="fa-brands fa-soundcloud"></i> Soundcloud</a>
            </p>
        </div>
    </div>
    <Partners></Partners>
	<Contact></Contact>
	<Footer></Footer>
</Layout>

<style>
    .artist {
        width: 80%;
        margin: 30px auto;
        display: grid;
        gap: 30px;
        grid-template-columns: 1fr 3fr;
        grid: 30px;
        border-bottom: 1px solid darkgray;
        padding-bottom: 30px;
    }
    .left img {
        width: 100%;
    }
    a {
        display: block;
        width: fit-content;
        padding: 15px 30px;
        color: white;
        background-color: #1F3345;
        text-decoration: none;
        margin-top: 30px;
        margin-right: 25px;
        transition: all .5s;
    }
    a:hover {
        background-color: #3771A6;
        color: black;
    }
    p {
        margin-bottom: 30px;
    }
    h2 {
        font-size: 24px;
        font-family: 'Monomaniac One', sans-serif;
        letter-spacing: 5px;
        text-shadow: 1px 1px 1px black;
        margin-bottom: 30px;
    }
    .links {
        display: flex;
    }
</style>