---

---

<div class="wrapper" id="anchor_contact">
    <div class="contact">
        <div class="left">
            <iframe title="sc_player" height="300" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1465820317&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
        </div>
        <div class="right">
            <h4>Contact</h4>
            <p>If you have any questions, or perhaps a demo you would like us to check, please feel free to use the form below, and we will try to answer your request as soon as possible.</p>
            <form>
                <label for="contact_name">Name</label>
                <input type="text" id="contact_name" name="contact_name" required>
                <label for="contact_email">E-mail</label>
                <input type="email" id="contact_email" name="contact_email" required>
                <label for="contact_msg">Message</label>
                <textarea id="contact_msg"></textarea>
                <input type="submit" value="Send">
            </form>
        </div>
    </div>
</div>

<style>
    h4 {
        font-family: 'Monomaniac One', sans-serif;
        font-size: 24px;
        margin-bottom: 20px;
        letter-spacing: 5px;
    }
    p {
        font-size: 16px;
        margin-bottom: 20px;
        letter-spacing: 3px;
        line-height: 32px;
    }
    iframe {
        width: 100%;
    } 
    .wrapper {
        background-color: #1a1a1a;
    }
    .contact {
        width: 80%;
        margin: 30px auto;
        margin-bottom: 0;
        display: grid;
        gap: 30px;
        grid-template-columns: 1fr 1fr;
    }
    .left, .right {
        padding: 30px 0px;
    }
    textarea {
        width: 100%;
        height: 250px;
        margin-bottom: 20px;
        background-color: black;
    }
    label, input, textarea {
        display: block;
        color: white;
    }
    label {
        font-size: 12px;
    }
    input {
        width: calc(100% - 34px);
        padding: 15px;
        margin-bottom: 20px;
        background-color: black;
        border: 2px solid white;
    }
    input[type=submit] {
        width: 50%;
        background-color: #1F3345;
        color: white;
        font-size: 22px;
        border: 0;
    }
    @media screen and (max-width: 980px) {
        .contact {
            grid-template-columns: 1fr;
        }
    }
    @media screen and (max-width: 420px) {
        .left {
            display: none;
        }
    }
</style>