---

---

<div class="wrapper">
    <div class="left">
        Addressway 123<br>
        Srmska Mitrovica, Serbia<br>
        tlf: +11 34 54 65 76<br>
        mail@box.com
    </div>
    <div class="right">
        @facebook<br>
        @spotify<br>
        @soundcloud<br>
        @psyshop<br>
    </div>
</div>

<style>
    .wrapper {
        margin: 0px auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
    .left {
        background-color: #1F3345;
        text-align: right;
        padding: 30px;
    }
    .right {
        background-color: black;
        padding: 30px;
    }
</style>