---

---

<div class="wrapper">
    <div class="left">
        <div class="newsblock">
            <h4>Double homerun for Progg'N'Roll Records!</h4>
            <p>2 of the newest VA`s, is now on Beatport`s Top 100 Psy-Trance Releases!
                "Psychedelic Traveling V.2, lands on20th place.
                "Summer Selection by: Ascent", lands on 19th place. We in the PNR / Progg `N`Roll Records Team 
                would like to thank you all for this amazing support, you rock!
                Boom, can we make these V/A`s climb even higher folk`s?
                Also, last, but not least huuuge huge thank you to all of our artists, producers and DJ`s!</p>
        </div>
        <div class="newsblock">
            <h4>Junodownload Showcase</h4>
            <p>@Lightspeed & @Dream State Project and @Kevin94, is now on Junodownload`s Showcase! So nice with free promotions to our talented and gifted artists. 🙂 
                Get the releases here:</p>
            <p><a href="https://l.facebook.com/l.php?u=https%3A%2F%2Fwww.junodownload.com%2Fproducts%2Fkevin94-digital-jungle%2F5478050-02%2F%3Ffbclid%3DIwAR1sNICQ1L-zKd4iwZ5xtNKVAE09KEyNFOpMt2rxpKSDsVJjpe7ZM2cfLkM&h=AT2q0dur9sfQvLuUGpX3HwJ21iKWcV5xij1l-gcmqdmvCZCjdCNtIru7cfHenTMectJ3bVyLW9grtHZsKtjgUvK3EgwXObSvchAVA0yz_Cfn6tua9y6FjzShKJQqNQPlwqLt&__tn__=-UK-R&c[0]=AT0YgyyeGAlP2hb9bU8zyMSArepvoZ3GaJYiE8bybUCvdomSynxdzeDJ-Efgn7KXWICz_vfwvSTkF_Zmf3sQSKXHZDLJc9I0BJaNF00rH_Np-6NkxDNj8vlZE6-cBlBjb8liKfI7uRunTHw1PwjLiMILIBXHiJfe2YeTbDh0xKrwUak4jjQ">Lightspeed & Dream State Project release</a> </p>
            <p><a href="https://l.facebook.com/l.php?u=https%3A%2F%2Fwww.junodownload.com%2Fproducts%2Fkevin94-digital-jungle%2F5478050-02%2F%3Ffbclid%3DIwAR3szaeuuifsPG2EqxV2rWmLJXOy72ipXaticlfXRKfCqVFvh5JjP16Kxp8&h=AT2q0dur9sfQvLuUGpX3HwJ21iKWcV5xij1l-gcmqdmvCZCjdCNtIru7cfHenTMectJ3bVyLW9grtHZsKtjgUvK3EgwXObSvchAVA0yz_Cfn6tua9y6FjzShKJQqNQPlwqLt&__tn__=-UK-R&c[0]=AT0YgyyeGAlP2hb9bU8zyMSArepvoZ3GaJYiE8bybUCvdomSynxdzeDJ-Efgn7KXWICz_vfwvSTkF_Zmf3sQSKXHZDLJc9I0BJaNF00rH_Np-6NkxDNj8vlZE6-cBlBjb8liKfI7uRunTHw1PwjLiMILIBXHiJfe2YeTbDh0xKrwUak4jjQ">Kevin94 release</a></p>
        </div>
    </div>
    <div class="right">
        <div class="newsblock">
            <h4>And the Cat is Out of the Bag!</h4>
            <p>
                Couldn't be prouder to say that Sci-Flyers and Spirit and The Guide are confirmed for the mighty Shankra Festival, 2022! Playing on both the EOS and the Horizon Stage. 
                Look forward to some amazing times ahead!
            </p>
            <p>See you guys there. Boooom!</p>
        </div>
        <div class="newsblock">
            <h4>Lights in the Sky</h4>
            <p>
                VimanaShastra & Sectastral - Lights in the Sky, climbed to 34th Place on Beatport`s Top 100 Psytrance Releases Chart! We thank you so much for the support and keep being amazing!
            </p>
        </div>
    </div>
</div>

<style>
    h4 {
        color: magenta;
        margin-bottom: 30px;
        letter-spacing: 3px;
    }
    p {
        margin-bottom: 30px;
        font-size: 14px;
        line-height: 24px;
    }
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        width: 80%;
        margin: 30px auto;
    }
    .left, .right {
        border: 2px solid white;
        padding: 30px;
        background-image: url("../../img/bgelement.webp");
        background-repeat: no-repeat;
        background-position: bottom right;
    }
    .newsblock {
        margin-bottom: 30px;
        border-bottom: 1px solid #1a1a1a;
    }
    @media screen and (max-width:980px) {
        .wrapper {
            grid-template-columns: 1fr;
            gap: 0;
        }
        .left, .right {
            border: 0;
            padding: 0;
        }
        .left {
            background-image: none;
            padding-bottom: 0;
        }
        .right {
            background-image: none;
            padding-top: 0;
        }
        .right img {
            width: 100%;
        }
    }
</style>