---
import NavigationMenu from "./NavigationMenu.astro";
---

<header>
    <NavigationMenu></NavigationMenu>
    <div class="banner">
        <div class="newest_box" id="newest_box">
            <div class="newest_caption">
                <h2>Under Pressure</h2>
                <h3>Pudova</h3>
                <a href="https://remarkable-salmiakki-5256c0.netlify.app/music/under-pressure">Check it out</a>
            </div>
            <div class="newest_img">
                <img src="../../img/releases/under_pressure.webp" alt="newest_release">
            </div>
        </div>
    </div>
</header>

<style>
    header {
        width: 100%;
        height: 100vh;
        background-image: url('../../img/fractal5_banner.webp');
        background-size: cover;
        background-position: bottom left;
    }
    h2 {
        font-size: 22px;
        margin-bottom: 20px;
        font-family: 'Monomaniac One', sans-serif;
        letter-spacing: 25px;
        text-shadow: 1px 1px 1px black;
    }
    h3 {
        font-size: 20px;
        font-family: 'Montserrat Alternates', sans-serif;
        letter-spacing: 25px;
        text-shadow: 1px 1px 1px black;
    }
    .newest_box {
        margin: 200px auto;
        display: flex;
        gap: 50px;
        justify-content: center;
        align-items: center;
        text-align: right;
        opacity: 0;
    }
    .newest_img img {
        width: 150px;
        height: 150px;
    }
    .newest_img {
        width: 150px;
        height: 150px;
        box-shadow: 0px 0px 15px white;
        transform: skew(0);
        transition: all .3s;
    }
    .newest_img:hover {
        transform: skew(-0.06turn, 18deg);
    }
    a {
        display: block;
        width: fit-content;
        padding: 15px 30px;
        color: white;
        background-color: #1F3345;
        text-decoration: none;
        float: right;
        margin-top: 30px;
        margin-right: 25px;
        transition: all .5s;
    }
    a:hover {
        background-color: #3771A6;
        color: black;
    }
    @media screen and (max-width: 980px) {
        header {
            height: 20vh;
        }
        .newest_box {
            display: none;
        }
    }
</style>

<script>
    document.onload = function() {
        console.log("loaded");
        document.querySelector("#newest_box").style.opacity = 1;
    }
</script>