---

---

<div class="wrapper">
    <div class="partner_box">
        <img src="../../img/logo_bp.webp" alt="beatport logo">
    </div>
    <div class="partner_box">
        <img src="../../img/logo_dz.webp" alt="deezer logo">
    </div>
    <div class="partner_box">
        <img src="../../img/logo_sc.webp" alt="soundcloud logo">
    </div>
    <div class="partner_box">
        <img src="../../img/logo_spotty.webp" alt="spotify logo">
    </div>
</div>

<style>
    .wrapper {
        width: 80%;
        margin: 30px auto;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-evenly;
        gap: 50px;
    }
    .partner_box img {
        width: 100%;
        max-width: 100px;
    }
    @media screen and (max-width: 420px) {
		.wrapper {
            display: grid;
			grid-template-columns: 1fr 1fr;
		}
	}
</style>