---

---

<div class="wrapper">
    <div class="partner_box">
        <a href="https://www.beatport.com/label/proggnroll/75932">
            <img src="../../img/logo_bp.webp" alt="beatport logo">
        </a>
    </div>
    <div class="partner_box">
        <a href="https://www.deezer.com/search/progg'n'roll">
            <img src="../../img/logo_dz.webp" alt="deezer logo">
        </a>
    </div>
    <div class="partner_box">
        <a href="https://soundcloud.com/progg_n_roll">
            <img src="../../img/logo_sc.webp" alt="soundcloud logo">
        </a>
    </div>
    <div class="partner_box">
        <a href="https://open.spotify.com/album/1noSunJ4kgHKglX9VWY7Ph">
            <img src="../../img/logo_spotty.webp" alt="spotify logo">
    </a>
    </div>
</div>

<style>
    .partner_box {
        text-align: center;
    }
    .wrapper {
        width: 80%;
        margin: 30px auto;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-evenly;
        gap: 50px;
    }
    .partner_box img {
        width: 100%;
        max-width: 100px;
    }
    @media screen and (max-width: 420px) {
		.wrapper {
            display: grid;
			grid-template-columns: 1fr 1fr;
		}
	}
</style>